@model IEnumerable<Concordia_Web_App.Models.Student_Graduation_Info>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits_Needed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits_Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Track)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withdrawn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Graduated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dismissed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits_Needed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits_Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Track)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Withdrawn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dismissed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
